
.dvContactoBreve{
    padding-top: 10rem;
    padding-bottom: 10rem;
    text-align: center;

}

.dvContactoBreveInicio{
    padding-top: 10rem;
    padding-bottom: 10rem;
    text-align: center;
    margin:2rem;
    border: 2px solid #5b7d7d;
    border-radius: 0.5rem;
}

.dvContactoBreve h2{
    font-size: 3rem;
    font-family:'montserrat';
    font-weight: 300;
    opacity: 80%;
}

.dvContactoBreve h5{
    font-size: 1.5rem;
    font-family:'montserrat';
    font-weight: 300;
    margin-top: .5rem;
}

.dvTxtFieldEnviar{
    margin-top: 1.5rem;
}

#txtFieldEnviar{
    height:0.8rem;
}
#btnEnviar{
    color:white;
    background-color: #5b7d7d;
    margin-left: 1rem;
    margin-top: .2rem;
}

