


.dvTextoProyecto{
    text-align: center;
    justify-content: center;
    margin-top: 10vh;
    /* margin-top: 4rem; */
}

.dvTextoProyecto h2{
    font-family: 'montserrat';
    font-size:1rem;
    font-weight: 300;
    margin-left:-4.5rem;
    color:white;
}

.dvTextoProyecto h4{
    font-family: 'montserrat';
    opacity: 85%;
    color:white;
    font-weight: 400;
    font-size: 1.8rem;
    padding-bottom: 2rem;
}

#imgLunas{
    max-width: 70%;
    border-radius: .5rem;
}

#btnverproyecto{
    margin-top: 3rem;
    color:#5b7d7d;
    background-color: white;
    transition-duration: 0.4s;
}
#btnverproyecto:hover{
    color:black;
    /* background-color: black; */

}
.soa{
    color:black
}