
/* .dvSeccionHeroAraza{
    text-align: center;
} */

.container{
    position:relative;
    
}
.dvLogoAraza{
    display:flex;
    justify-content: center;
    align-items: center;
    /* position: sticky; */
    /* padding: 3rem; */
}
#imgLogoAraza{
    max-width: 80%;
} 
/* 
.dvSeccionHeroAraza h2{
    font-family: 'montserrat';
    font-size: 7rem;
    padding-top:4rem;
    padding-bottom:1.5rem;
    opacity:30%
} */




/* --- prueba h1 con imagen   * * **/
.dvSeccionHeroAraza {
    text-align: center;
    padding-top: 2rem;
    
    /* display: flex; */
    /* position:relative; */
    /* margin:auto 0; */
   
  }

  .dvImagenTexto{
    display:flex;
    text-align: center;
    justify-content: center;
    /* width: auto; */
    
  }
 
  /* #imgFrenteAraza {
    width: 100%; /* Ajusta el tamaño de la imagen según sea necesario */
    /* height: auto; Ajusta la altura de la imagen de forma proporcional */
    /* display: block; Asegura que la imagen se muestre como un bloque */

.dvImagenTexto h2 {
    width: 1000px;
    font-size: 5rem;
    color: black; /* Cambia el color del texto según sea necesario */
    /* text-align: center; Centra el texto horizontalmente */
    opacity: 60%;
    font-family: 'montserrat';
    /* transition: 4s; */
    /* max-width: 900px; */
    /* Agrega otros estilos según tus preferencias */
} 
.dvSeccionHeroAraza h2:hover{
    opacity: 100%;
}

  /*  -- - fin prueba  * * * ** * */


#imgFrenteAraza{
    max-width: 70%;
    transition:1s;
}

#imgFrenteAraza:hover{
    max-width: 75%;
}

/*  --- DIV SECCION TEXTO --- */
/* 
.dvSeccionTexto{
    
} */

.dvSeccionTextoDerecha{
    /* display: flex;
    flex-direction: column;
    /* align-items: right; */
    /* margin-right: 0; */
    /* margin-left: auto;  */
    
    /* text-align: right; */
    /* max-width: 800px; */
    background-color: rgba(29, 169, 29, 0.444);

}

.headingVegetal.hVDerecha{
    font-family: 'montserrat';
    font-size:3.8rem;
    max-width: auto;
    /* text-align: center; */
    margin-right:0;
    margin-left:50rem;
    opacity:80%;
}

.dvSeccionTextoDerecha p{
    color:lightgray;
    font-family: 'montserrat';
    font-size:1.5rem;
    line-height: 3rem;
    max-width: 35rem;
    margin-top:2rem;
    margin-right:8rem;
    margin-left:auto;
    padding-left:1em;
    padding-right:1em;
    opacity:95%;
    border:3px solid rgb(107, 107, 107);
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    background-color:black;
}

.spanParteF{
    text-shadow: -1px -1px 0px rgb(84, 112, 55),
    3px 3px 0px hsl(126, 82%, 44%),
    6px 6px 0px rgb(197, 221, 172);
}


.dvSeccionTextoIzquierda{
    text-align: left;
    max-width: 800px;
    
}

.headingVegetal.hVIzquierda{
    font-family: 'montserrat';
    font-size:3.8rem;
    max-width: auto;
    /* text-align: center; */
    /* margin-right:0;
    margin-left:50rem; */
    opacity:80%;
}

.dvSeccionTextoIzquierda h2{
    font-family: 'montserrat';
    font-size:2rem;
}

.dvSeccionTextoIzquierda p{
    font-family: 'montserrat';
    font-size:1rem;
}



/* /*   
  .dvSeccionHeroAraza h2 {
    /* position: absolute; */
    
   /* font-size: 7rem;
    /*top: 80%; /* Ajusta la posición verticalmente al centro */
    /*left: 40%; /*Ajusta la posición horizontalmente al centro*/
    /*transform: translate(-40%, -40%); /* Centra el elemento con respecto a su propio tamaño */
   /* z-index: 1; /* Asegura que el título esté por encima de la imagen */
    /*color: black; /* Cambia el color del texto según sea necesario */
   /* text-align: center; /* Centra el texto horizontalmente */
    /*opacity: 40%;
    font-family: 'montserrat';
    max-width: 900px;
    /* Agrega otros estilos según tus preferencias */
  