
.dvproyectos{
    display:block;
    justify-content: center;
    
}


.dvHeading1{
    font-size: 2rem;
    font-family:'arial';
    padding:4rem;
    margin: auto;
    font-weight: 400;
}

.dvHeading4I{
    display: inline-block;
    font-size: 1.8rem;
    max-width: 750px;
    padding-left: 4rem;
    margin:auto;
    /* margin-top:24px;
    margin-left: 150px; */
    /* font-family:  */
}

.gridContainerInfo{
    font-size: 1.5rem;
    padding:2rem;
    column-gap: 0.5rem;
    align-content: center;
    /* margin:auto;
    left: 0;
    right:0; */
}

.boxItemInfo{
    padding:1rem;
}