
.dvproyectos{
    display:block;
    justify-content: center;
    
}


.dvHeading1{
    padding:4rem;
    margin: auto;
}

.dvHeading4{
    display: inline-block;
    max-width: 750px;
    padding-left: 4rem;
    margin:auto
    /* margin-top:24px;
    margin-left: 150px; */
    /* font-family:  */
}

#heading1{
    font-size: 4.5rem;
    font-family:'montserrat';
    font-weight: 500;
    opacity: 7x0%;
}

#heading4{
    font-family:'montserrat';
    font-weight: 300;
    font-size: 1.8rem;
}

.gridContainerInfo{
    font-size: 1.5rem;
    padding:2rem;
    column-gap: 0.5rem;
    align-content: center;
    font-family:'montserrat';
    /* margin:auto;
    left: 0;
    right:0; */
}

.boxItemInfo{
    padding:1rem;
}

.centrar{
    margin: 0 auto;
    margin-left: 2rem;
}