
.dvproyectos{
    display:block;
    justify-content: center;
    margin-bottom: 2.5rem;
}


.dvHeading1{
    padding:4rem;
    margin: auto;
}

.dvHeading4{
    display: inline-block;
    max-width: 750px;
    padding-left: 2rem;
    margin:auto
    /* margin-top:24px;
    margin-left: 150px; */
    /* font-family:  */
}

#heading1{
    font-size: 4.5rem;
    font-family:'montserrat';
    font-weight: 500;
    opacity: 70%;
}

#heading4{
    font-family:'montserrat';
    font-weight: 300;
    font-size: 1.8rem;
}

.gridContainerInfo{
    font-size: 1.5rem;
    padding:2rem;
    column-gap: 0.5rem;
    align-content: center;
    font-family:'montserrat';
    /* margin:auto;
    left: 0;
    right:0; */
}

.boxItemInfo{
    padding:1rem;
}

.centrar{
    margin: 0 auto;
    margin-left: 2rem;
    max-width: 750px;
}

.centrar p{
    font-family:'montserrat';
    font-size: 24px;
    font-weight: 300;
    
    padding-bottom: 2rem;
}

.derecha{
    text-align: right;
    max-width: 750px;
    /* display:flex;     */
    /* float:right; */
    margin:auto;
    margin-right:4rem;
    padding-right:4rem;
   ;
}   
/* apl -  alineacion derecha  ------------aaa */

.derecha p{
    font-family:'montserrat';
    font-size: 24px;
    font-weight: 300;
    padding-top: 2rem;
    padding-bottom: 2rem;

}
.imgsDerecha{
    max-width: 850px;
    text-align: right;

    display:flex;
    /* float:right; */
    margin:auto;
    margin-right:0;
}

#imgDerecha{
    max-width: 850px;
    padding-right: 4rem;
    margin-right:4rem;
}

.lineaLeft{
    border-left: 3px rgb(197, 195, 195);
    border-left-style: inset;
    margin-left:2rem;
    margin-top: 2rem;
}

.lineaBottom{
    border-bottom: 3px rgb(197, 195, 195);

    border-bottom-style: inset;
    /* margin-left:2rem; */
    /* margin-top: 2rem; */
}